<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Razzia909</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> 
  </head>
  <body>

    {% include 'menu.html' %}
 
  <div class="presentation">

    <h1>
      Bienvenue sur mon cyber-blog ;). Je recenserai ici mes divers travaux, allant de projets personnels, de collectifs musicaux (à savoir Dechets Nation et Razzia909) ou encore d'autres travaux scolaires au sein de l'École de Recherche Graphique, en collaboration ou non avec d'autres élèves.
    </h1>

  </div>
    <div id="articles">
            <ul>

        {% for article in articles %}
            <li><a href="{{ url_for('index', _external=False) }}{{ article.path }}"><h2 class="{{article.cat}}">{{article.title}}</h2></a><span class="categorie"><a href="{{ url_for('index', _external=False) }}cat/{{article.cat}}">{{article.cat}}</a></span><span class="author"><a href="{{ url_for('index', _external=False) }}author/{{article.author}}">{{ article.author }}</a></span><span class="date">{{ article.published }}</span></li>
        {% endfor %}

            </ul>
    </div>

<div class="marquees">
  <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="14">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="15">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="14">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

        <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


 <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="14">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="15">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="14">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

        <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>



 <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
</div>

  <div class="extlinkcontainer">
    <h1>
      
      ici se trouvent les liens externes, vous menant à des ressources qui me semblent importantes à notifier en lien avec mes travaux. 

      

    </h1>

    <a href="https://www.youtube.com/@razzia9099/videos" class="link">
    <img src="../static/r9.png" alt="razzia909 image" class="img">
    <span class="text">razzia909</span>
</a>

<a href="https://www.youtube.com/@dechetsnation9263" class="link">
    <img src="../static/dn.png" alt="dechets nation image" class="img">
    <span class="text">dechets nation</span>
</a>

<a href="https://www.instagram.com/xrayshapeshifter/" class="link">
    <img src="../static/xrays2x.png" alt="xrayshapeshifting image" class="img">
    <span class="text">xrayshapeshifting</span>
</a>

<a href="https://discmaster.textfiles.com/" class="discmaster">
    <img src="../static/discmaster.png" alt="discmaster img" class="img">
    <span class="text">discmaster</span>
</a>


<style>
    .link {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
    .text {
      color: #00FF41;
        font-size: 15px;
    }
    .text:hover{
      font-size: 17px;
      color : whitesmoke;
    }
    .discmaster{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
</style>

  </div>
    <script src="index.js"></script>
  </body>
</html>
